version: 2.1

jobs:
  build:
    docker:
      - image: alexfalkowski/ruby:1.68
    steps:
      - checkout:
          method: blobless
      - run: git submodule sync
      - run: git submodule update --init
      - restore_cache:
          name: restore deps
          keys:
            - bin-ruby-cache-{{ checksum "Gemfile.lock" }}
            - bin-ruby-cache-
      - run: make dep
      - run: make clean-dep
      - save_cache:
          name: save deps
          key: bin-ruby-cache-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor
      - run: make scripts-lint
      - run: make docker-lint
      - run: make lint
    resource_class: large
  version:
    docker:
      - image: alexfalkowski/release:5.24
    steps:
      - checkout:
          method: blobless
      - run: git submodule sync
      - run: git submodule update --init
      - run: version
    resource_class: large

workflows:
  bin:
    jobs:
      - build
      - version:
          context: gh
          requires:
            - build
          filters:
            branches:
              only: master
